**/node_modules
.DS_Store
npm-debug.log*
yarn-error.log
*.iml
.idea/
target/
.settings/
.project
logs/
.classpath
bin/
.springBeans
data/*
.mvn/*
*/target/*
*/*/mvnw*
node_modules/
package-lock.json
.vscode
build